<!DOCTYPE html>
 <html>
 <head>
   <title>delete record</title>
 </head>
 <body>
   <div align="center" style="border: groove;
    padding: 18px; background-color: bisque;">
   <h2>Remove Contact from the list</h2>
 <form action="/deleterecord" method="post">
  <div style="font-size: larger;
    font-weight: bolder;">
 Contact Id <input type="text" name="id" style="border: groove;
    background-color: lavender;">
 <input type="submit" value="Submit" style="border-block: revert;
    background-color: greenyellow;
    padding: 5px 10px;
    font-size: 18px;">
  </div>
 </form>
   </div>
 </body>
 </html> 